body {
    margin: 0;
    overflow: hidden;
    background: #021018;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.title {
    color: white;
    text-align: center;
    margin-top: 150px;
    font-family: Arial, sans-serif;
}
.particle-btn {
    position: fixed;
    bottom: 20px;   
    left: 20px;     
    z-index: 1001;
    background: rgba(0, 0, 0, 0.6);
    color: #dceaff;
    border: 1px solid #00eaff;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.particle-btn:hover {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 8px #00eaff;
}

